@import "tailwindcss";
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #252424;
}

button {
  padding: 8px 16px;
  border-radius: 12px;
  background-color: rgb(2, 0, 0);
}

button:hover {
  background-color: rgb(42, 59, 16);
  color: rgb(242, 255, 127);
}
